body {
  background: #d2eaf4 !important;
}

.caption {
  margin-bottom: 300px;
}

.about-img {
  height: 400px;
  width: 350px;
}

.margint {
  margin-top: 200px;
}
.margin-card {
  /* margin-left: 200px; */
}
/* 
.mepp {
} */

